[include mainsail.cfg] ##mainsal important
[include Extruder.cfg]  ##Extruder
[include Display.cfg]  ##Display
[include Fan.cfg]  ##Fan
[include Heatbed.cfg]  ##Heatbed
[include Stepper.cfg]  ##Stepper XY and Z
[include Probe.cfg]  ##Probe
[include Gantry.cfg]  ##Homing Routine

Ender 3 Voron Afterburner Vinda Probe SKR1.4

##========================== Pin Definitions ========================


##Z0_STEP_PIN		2.2
##Z0_DIR_PIN		2.6
##Z0_ENABLE_PIN		2.1
##X_ENSTOP_PIN 		1.29
	
##Z0 UART_PIN		1.10
	
	
##Z1_STEP_PIN		0.19
##Z1_DIR_PIN		0.20
##Z1_ENABLE_PIN		2.8
##Y_ENSTOP_PIN		1.28
	
##Z1_UART_PIN		1.9
	
	
##X_STEP_PIN		0.22
##X_DIR_PIN			2.11
##X_ENABLE_PIN		0.21
##Z_Virtual Enstop	0.10
	
##X_UART_PIN		1.8
	
	
##Y_STEP_PIN		2.13
##Y_DIR_PIN			0.11
##Y_ENABLE_PIN		2.12
##Y_UART_PIN		1.4
	
	
##E0_STEP_PIN		1.15
##E0_DIR_PIN		1.14
##E0_ENABLE_PIN		1.16
##E0_UART_PIN		1.1
	
	
##Hotend Fan		2.4
##Hotend Heater		2.7
##Bed Heater		2.5
	
##Hotend Thermistor	0.24
##Bed Thermistor	0.25
##Print Cooling Fan	0.23
	
##Vinda Probe		0.10


##https://docs.vorondesign.com/build/software/skr13_klipper.html


[mcu]
##	Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/
##--------------------------------------------------------------------

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100


#####################################################################
#	Macros
#####################################################################
[z_tilt]
##	Use Z_TILT_ADJUST to level the bed left to right.
##	z_positions: Location of toolhead

##--------------------------------------------------------------------
## Uncomment below for 250mm build
z_positions:
	-35, 180       ##Stepper Location Z0
	290, 180       ##Stepper Location Z1
points:
	30, 155
	220, 155

speed: 100
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075

[screws_tilt_adjust]
## To run this command, use SCREWS_TILT_CALCULATE
##--------------------------------------------------------------------
##	Uncomment below for 250x250
screw1: 40,180
screw1_name: rear left screw
screw2: 210,180
screw2_name: rear right screw
screw3: 125,10
screw3_name: front screw
horizontal_move_z: 5
speed: 200
screw_thread: CCW-M3


[bed_mesh]
speed: 100
horizontal_move_z: 10
##--------------------------------------------------------------------
##	Uncomment below for 250mm build
mesh_min: 40, 40
mesh_max: 180,180

#fade_start: 0.6
#fade_end: 10.0
probe_count: 5,5
algorithm: bicubic
relative_reference_index: 12

#[virtual_sdcard]
#path: ~/gcode_files

#[display_status]

#[pause_resume]

[gcode_macro PRINT_START]
#	Use PRINT_START for the slicer starting script - PLEASE CUSTOMISE THE SCRIPT
gcode:
	M117 Homing...				   ; display message
	G28 Y0 X0 Z0
	Z_TILT_ADJUST
	BED_MESH_CALIBRATE
	G28 Y0 X0 Z0

	#Purge Line Gcode
	G92 E0;
	G90
	G0 X5 Y5 F6000
	G0 Z0.4
	G91
	G1 X120 E30 F1200;
	G1 Y1
	G1 X-120 E30 F1200;
	G92 E0;
	G90

	G1 Z15.0 F600 ;move the platform down 15mm
	G1 X125 Y125 F3000
	G92 E0 ;zero the extruded length again
	G1 F9000
	M117 Printing...

[gcode_macro PRINT_END]
#	Use PRINT_END for the slicer ending script
gcode:
	#	Get Boundaries
	{% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
	{% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
	{% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}

	#	Check end position to determine safe directions to move
	{% if printer.toolhead.position.x < (max_x - 20) %}
		{% set x_safe = 20.0 %}
	{% else %}
		{% set x_safe = -20.0 %}
	{% endif %}

	{% if printer.toolhead.position.y < (max_y - 20) %}
		{% set y_safe = 20.0 %}
	{% else %}
		{% set y_safe = -20.0 %}
	{% endif %}

	{% if printer.toolhead.position.z < (max_z - 2) %}
		{% set z_safe = 2.0 %}
	{% else %}
		{% set z_safe = max_z - printer.toolhead.position.z %}
	{% endif %}

	#  Commence PRINT_END
	M400							 ; wait for buffer to clear
	G92 E0							 ; zero the extruder
	G1 E-4.0 F3600					 ; retract
	G91								 ; relative positioning
	G0 Z{z_safe} F3600				 ; move nozzle up
	G0 X{x_safe} Y{y_safe} F20000	 ; move nozzle to remove stringing

	M104 S0							 ; turn off hotend
	M140 S0							 ; turn off bed
	M106 S0							 ; turn off fan
	G90								 ; absolute positioning
	G0 X{max_x / 2} Y{max_y} F3600	 ; park nozzle at rear
	M117 Finished!

##	Thermistor Types
##	 "EPCOS 100K B57560G104F"
##	 "ATC Semitec 104GT-2"
##	 "NTC 100K beta 3950"
##	 "Honeywell 100K 135-104LAG-J01"
##	 "NTC 100K MGB18-104F39050L32"
##	 "AD595"
##	 "PT100 INA826"